<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" routerLink='/inicio' aria-current="page" href="#">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink='/sobre' aria-current="page" href="#">Sobre Nós</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink='/contato' href="#">Contato</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Conheça nossos produtos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Organicos</a></li>
                        <li><a class="dropdown-item" href="#">Perfumes</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">que isso?</a></li>
                    </ul>
                </li>

            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Pesquisar</button>
            </form>
        </div>
    </div>
</nav>