<!-- carrossel -->
<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.imgur.com/dqqdQY7.jpg" class="d-block w-100" alt="...">>
        </div>
        <div class="carousel-item">
            <img src="https://i.imgur.com/si1IoFQ.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://i.imgur.com/q7WRa3c.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- fim do carrossel -->


<!-- menu informativo abaixo do carrossel -->
<div class="container-fluid">
    <div class="row d-flex align-items-center">

        <div class="row-cols-md-4 g-0 bg-light d-flex">

            <div class=" m-3">
        
                <h5 class="fs10"><i class="fa fa-leaf m-lg-2" aria-hidden="true"></i>100% livre de agrotóxicos</h5>
        
            </div>

            <div class=" m-3">
           
                <h5 class="fs10"><i class="fa fa-clock-o m-lg-2" aria-hidden="true"></i>Entregamos em até 24 hrs</h5>

            </div>

            <div class="  m-3">
           
                <h5 class="fs10"><i class="fa fa-truck m-lg-2" aria-hidden="true"></i>Frete grátis a partir de R$ 100,00</h5>

            </div>

            <div class=" m-3">
           
                <h5 class="fs10">logo</h5>

            </div>

        </div>
        
    </div>
</div>
<!-- fim do menu informativo abaixo do carrossel -->

<!-- 1ª imagem e texto ilustrativo -->
    <div class="container-fluid ">
        <div class="row fundo1 d-flex align-items-center ">

            <div class="col-md-6">

                <div class="row d-flex justify-content-center fundo1">
                    <h1 class="fs-54">Prepare-se para as
                        eco-experiências
                        que preparamos para você!
                    </h1>
                    <h3>Vem da Terra é a sua loja online de produtos ecológicos, veganos, naturais e orgânicos de beleza, higiene pessoal e limpeza.</h3>
                        
                </div>

            </div>

            <div class="col-md-6 align-itens-end ">
               
                <img src="https://img.freepik.com/vetores-gratis/salve-a-ilustracao-do-conceito-de-planeta-com-pessoas-e-globo_23-2148540643.jpg?size=338&ext=jpg&ga=GA1.1.2106634646.1615852800" height="400" width="500" alt="">

            </div>
        
        </div>
    </div>
<!--fim da 1ª imagem e texto ilustrativo -->

<!-- 2ª imagem e texto ilustrativo -->
    <div class="container-fluid ">
        <div class="row fundo2 d-flex align-items-center">

            <div class="col-md-6">

                <div class="row d-flex justify-content-center">
                    <img src="https://engenharia360.com/wp-content/uploads/2020/06/Produtos-sustent%C3%A1veis.jpg" height="400" width="700" alt="">
                </div>

            </div>

            <div class="col-md-6 ">
               
                <h1 class="">Dá para acreditar?</h1>
                <h3 class="">Delivery com mais de 2 mil produtos orgânicos, naturais, artesanais, da agricultura familiar ou agroecológica.</h3>
            
            </div>

        </div>
    </div>
<!--fim da 2ª imagem e texto ilustrativo -->

<!-- menu de categorias -->
    <div class="row fundo2 d-flex align-items-center">
        <div class="card" style="width: 17rem;">
            <div class="card-body  ">
                <img class="centro"src="https://image.flaticon.com/icons/png/512/1461/1461317.png" height="46" width="46" alt="">
                    <h5 class="ct">Vestuário</h5>
            </div>
        </div>

        <div class="card" style="width: 17rem;">
            <div class="card-body  ">
                <img class="centro"src="https://image.flaticon.com/icons/png/512/706/706195.png" height="46" width="46" alt="">
                    <h5 class="ct">Alimentos</h5>
            </div>
        </div>

        <div class="card" style="width: 17rem;">
            <div class="card-body  ">
                <img class="centro"src="https://image.flaticon.com/icons/png/512/3534/3534033.png" height="46" width="46" alt="">
                    <h5 class="ct">Papelaria</h5>
            </div>
        </div>

        <div class="card" style="width: 17rem;">
            <div class="card-body  ">
                <img class="centro"src="https://image.flaticon.com/icons/png/512/3553/3553898.png" height="46" width="46" alt="">
                    <h5 class="ct">Higiene Pessoal</h5>
            </div>
        </div>

        <div class="card" style="width: 17rem;">
            <div class="card-body  ">
                <img class="centro "src="https://i.imgur.com/d6HwBz4.png" height="46" width="46" alt="">
                    <h5 class="ct">Mobílias</h5>
            </div>
        </div>
    </div>
<!-- fim domenu de categorias -->




<div class="div m-2">
    <h4 class="mt-5">Em oferta:</h4>
</div>
<!-- carrossel ofertas -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
            <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
                <div class="col">
                  <div class="card">
                    <img src="https://conexaoplaneta.com.br/wp-content/uploads/2017/05/natural-sustentavel-sabonete-esfoliante-borra-cafe-2-conexao-planeta.jpg" class="card-img-top imgcard" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Sabonete</h5>
                      <h5 class="preco ">R$ 4,00</h5>
                                <div class="d-grid  d-inline pe-4 ps-4">
                                    <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                                </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="https://www.condominiosverdes.com.br/wp-content/uploads/2018/07/escovas-de-dente-sustent%C3%A1veis-03.jpg" class="card-img-top imgcard" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Escova de dentes</h5>
                      <h5 class="preco ">R$ 4,00</h5>
                                <div class="d-grid  d-inline pe-4 ps-4">
                                    <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                                </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="https://static.vecteezy.com/ti/fotos-gratis/p2/2269057-copos-de-papel-ecologicos-gr%C3%A1tis-foto.jpg" class="card-img-top imgcard" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Copos descartáveis</h5>
                      <h5 class="preco ">R$ 4,00</h5>
                                <div class="d-grid  d-inline pe-4 ps-4">
                                    <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                                </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="https://www.artesanatoereciclagem.com.br/wp-content/uploads/2016/04/15-Ideias-de-artesanato-com-recicl%C3%A1veis-do-dia-a-dia-002.jpg" class="card-img-top imgcard" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Organizador</h5>
                      <h5 class="preco ">R$ 4,00</h5>
                                <div class="d-grid  d-inline pe-4 ps-4">
                                    <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                                </div>
                    </div>
                  </div>
                </div>
              </div>
      </div>
      <div class="carousel-item">
            <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
                <div class="col">
                  <div class="card">
                    <img src="https://conexaoplaneta.com.br/wp-content/uploads/2017/05/natural-sustentavel-sabonete-esfoliante-borra-cafe-2-conexao-planeta.jpg" class="card-img-top imgcard" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Sabonete</h5>
                      <h5 class="preco ">R$ 4,00</h5>
                                <div class="d-grid  d-inline pe-4 ps-4">
                                    <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                                </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="https://www.condominiosverdes.com.br/wp-content/uploads/2018/07/escovas-de-dente-sustent%C3%A1veis-03.jpg" class="card-img-top imgcard" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Escova de dentes</h5>
                      <h5 class="preco ">R$ 4,00</h5>
                                <div class="d-grid  d-inline pe-4 ps-4">
                                    <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                                </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="https://static.vecteezy.com/ti/fotos-gratis/p2/2269057-copos-de-papel-ecologicos-gr%C3%A1tis-foto.jpg" class="card-img-top imgcard" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Copos descartáveis</h5>
                      <h5 class="preco ">R$ 4,00</h5>
                                <div class="d-grid  d-inline pe-4 ps-4">
                                    <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                                </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="https://www.artesanatoereciclagem.com.br/wp-content/uploads/2016/04/15-Ideias-de-artesanato-com-recicl%C3%A1veis-do-dia-a-dia-002.jpg" class="card-img-top imgcard" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Organizador</h5>
                      <h5 class="preco ">R$ 4,00</h5>
                                <div class="d-grid  d-inline pe-4 ps-4">
                                    <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                                </div>
                    </div>
                  </div>
                </div>
              </div>
      </div>
      <div class="carousel-item">
            <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
                <div class="col">
                  <div class="card">
                    <img src="https://conexaoplaneta.com.br/wp-content/uploads/2017/05/natural-sustentavel-sabonete-esfoliante-borra-cafe-2-conexao-planeta.jpg" class="card-img-top imgcard" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Sabonete</h5>
                      <h5 class="preco ">R$ 4,00</h5>
                                <div class="d-grid  d-inline pe-4 ps-4">
                                    <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                                </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="https://www.condominiosverdes.com.br/wp-content/uploads/2018/07/escovas-de-dente-sustent%C3%A1veis-03.jpg" class="card-img-top imgcard" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Escova de dentes</h5>
                      <h5 class="preco ">R$ 4,00</h5>
                                <div class="d-grid  d-inline pe-4 ps-4">
                                    <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                                </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="https://static.vecteezy.com/ti/fotos-gratis/p2/2269057-copos-de-papel-ecologicos-gr%C3%A1tis-foto.jpg" class="card-img-top imgcard" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Copos descartáveis</h5>
                      <h5 class="preco ">R$ 4,00</h5>
                                <div class="d-grid  d-inline pe-4 ps-4">
                                    <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                                </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://www.artesanatoereciclagem.com.br/wp-content/uploads/2016/04/15-Ideias-de-artesanato-com-recicl%C3%A1veis-do-dia-a-dia-002.jpg" class="card-img-top imgcard" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Organizador</h5>
                        <h5 class="preco ">R$ 4,00</h5>
                                <div class="d-grid  d-inline pe-4 ps-4">
                                    <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<!-- fim do carrossel de ofertas -->


<!-- carrossel de mais vendidos -->
<div class="div m-2">
    <h4 class="mt-5">Mais pedidos:</h4>
</div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
            <div class="col">
            <div class="card">
                <img src="https://conexaoplaneta.com.br/wp-content/uploads/2017/05/natural-sustentavel-sabonete-esfoliante-borra-cafe-2-conexao-planeta.jpg" class="card-img-top imgcard" alt="...">
                <div class="card-body">
                <h5 class="card-title ">Sabonete</h5>
                <h5 class="preco ">R$ 4,00</h5>
                <div class="d-grid  d-inline pe-4 ps-4">
                    <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                </div>
            </div>
            </div>
            </div>

            <div class="col">
            <div class="card">
                <img src="https://www.condominiosverdes.com.br/wp-content/uploads/2018/07/escovas-de-dente-sustent%C3%A1veis-03.jpg" class="card-img-top imgcard" alt="...">
                <div class="card-body">
                <h5 class="card-title">Escova de dentes</h5>
                <h5 class="preco ">R$ 4,00</h5>
                <div class="d-grid  d-inline pe-4 ps-4">
                    <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                </div>
            </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="https://static.vecteezy.com/ti/fotos-gratis/p2/2269057-copos-de-papel-ecologicos-gr%C3%A1tis-foto.jpg" class="card-img-top imgcard" alt="...">
                <div class="card-body">
                <h5 class="card-title">Copos descartáveis</h5>
                <h5 class="preco ">R$ 4,00</h5>
                        <div class="d-grid  d-inline pe-4 ps-4">
                            <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                        </div>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="https://www.artesanatoereciclagem.com.br/wp-content/uploads/2016/04/15-Ideias-de-artesanato-com-recicl%C3%A1veis-do-dia-a-dia-002.jpg" class="card-img-top imgcard" alt="...">
                <div class="card-body">
                <h5 class="card-title">Organizador</h5>
                <h5 class="preco ">R$ 4,00</h5>
                        <div class="d-grid  d-inline pe-4 ps-4">
                            <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                        </div>
                </div>
            </div>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
            <div class="col">
            <div class="card">
                <img src="https://conexaoplaneta.com.br/wp-content/uploads/2017/05/natural-sustentavel-sabonete-esfoliante-borra-cafe-2-conexao-planeta.jpg" class="card-img-top imgcard" alt="...">
                <div class="card-body">
                <h5 class="card-title ">Sabonete</h5>
                <h5 class="preco ">R$ 4,00</h5>
                <div class="d-grid  d-inline pe-4 ps-4">
                    <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                </div>
            </div>
            </div>
            </div>

            <div class="col">
            <div class="card">
                <img src="https://www.condominiosverdes.com.br/wp-content/uploads/2018/07/escovas-de-dente-sustent%C3%A1veis-03.jpg" class="card-img-top imgcard" alt="...">
                <div class="card-body">
                <h5 class="card-title">Escova de dentes</h5>
                <h5 class="preco ">R$ 4,00</h5>
                <div class="d-grid  d-inline pe-4 ps-4">
                    <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                </div>
            </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="https://static.vecteezy.com/ti/fotos-gratis/p2/2269057-copos-de-papel-ecologicos-gr%C3%A1tis-foto.jpg" class="card-img-top imgcard" alt="...">
                <div class="card-body">
                <h5 class="card-title">Copos descartáveis</h5>
                <h5 class="preco ">R$ 4,00</h5>
                        <div class="d-grid  d-inline pe-4 ps-4">
                            <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                        </div>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="https://www.artesanatoereciclagem.com.br/wp-content/uploads/2016/04/15-Ideias-de-artesanato-com-recicl%C3%A1veis-do-dia-a-dia-002.jpg" class="card-img-top imgcard" alt="...">
                <div class="card-body">
                <h5 class="card-title">Organizador</h5>
                <h5 class="preco ">R$ 4,00</h5>
                        <div class="d-grid  d-inline pe-4 ps-4">
                            <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                        </div>
                </div>
            </div>
            </div>
        </div>
      </div>
      <div class="carousel-item">
          <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
            <div class="col">
            <div class="card">
                <img src="https://conexaoplaneta.com.br/wp-content/uploads/2017/05/natural-sustentavel-sabonete-esfoliante-borra-cafe-2-conexao-planeta.jpg" class="card-img-top imgcard" alt="...">
                <div class="card-body">
                <h5 class="card-title ">Sabonete</h5>
                <h5 class="preco ">R$ 4,00</h5>
                <div class="d-grid  d-inline pe-4 ps-4">
                    <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                </div>
            </div>
            </div>
            </div>

            <div class="col">
            <div class="card">
                <img src="https://www.condominiosverdes.com.br/wp-content/uploads/2018/07/escovas-de-dente-sustent%C3%A1veis-03.jpg" class="card-img-top imgcard" alt="...">
                <div class="card-body">
                <h5 class="card-title">Escova de dentes</h5>
                <h5 class="preco ">R$ 4,00</h5>
                <div class="d-grid  d-inline pe-4 ps-4">
                    <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                </div>
            </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="https://static.vecteezy.com/ti/fotos-gratis/p2/2269057-copos-de-papel-ecologicos-gr%C3%A1tis-foto.jpg" class="card-img-top imgcard" alt="...">
                <div class="card-body">
                <h5 class="card-title">Copos descartáveis</h5>
                <h5 class="preco ">R$ 4,00</h5>
                        <div class="d-grid  d-inline pe-4 ps-4">
                            <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                        </div>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="https://www.artesanatoereciclagem.com.br/wp-content/uploads/2016/04/15-Ideias-de-artesanato-com-recicl%C3%A1veis-do-dia-a-dia-002.jpg" class="card-img-top imgcard" alt="...">
                <div class="card-body">
                <h5 class="card-title">Organizador</h5>
                <h5 class="preco ">R$ 4,00</h5>
                        <div class="d-grid  d-inline pe-4 ps-4">
                            <button class="btn btn-outline-success fs10">Adicionar <img src="https://image.flaticon.com/icons/png/512/2331/2331970.png" height="46" width="46" alt=""></button>
                        </div>
                </div>
            </div>
            </div>
        </div>
        
      </div>
    </div>
  </div>
<!-- fim do carrossel de mais vendidos -->