<div class="container mb-3 mt-5">

    <div class="row mb-5">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Apagar Categoria</h1>
        </div>

        <div class="row mb-3">
            <div class="col-md-12 text-center">
                <h4>Você tem certeza que deseja apagar essa categoria?</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            <h5 class="text-center">{{categoria.tipo}}</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <button class="btn btn-danger me-4" routerLink='/cadastro/categoria'>Não</button>
                <button class="btn btn-success" (click)='apagar()'>Sim</button>
            </div>
        </div>
    </div>
</div>
