ul.social-network{
    list-style: none;
    padding: 0;
}
ul.social-network li{
    display: inline;
    margin: 0%;
    padding: 5px;
}
.fa{
    font-size: 25pt;
    color: white;
    padding: 10px;
}
.fa-facebook-square:hover{
    color: #3b5998;
}
.fa-instagram:hover{
    color: #c13599;
}
.fa-linkedin-square:hover{
    color: #0189d3;
}
