<footer class="page-footer font-small mt-5 border bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-black fw-bold fs mt-5">Nossos Parceiros:</h4>
            </div>
        </div>
        <div class="row-cols-md-4 d-flex justify-content-center">
           <!-- <div class="col-md-12 d-flex justify-content-center"> -->
                    <div>
                       <img src="https://i.imgur.com/R5Bbhdk.png"
                       alt="Imagem do Sucateria" width="250px" height="250px">
                    </div>
                    <div>
                        <img src="https://i.imgur.com/BnYVGcu.png" alt="Imagem do CicloNext" width="250px" height="250px">
                    </div>
                    <div>
                        <img src="https://i.imgur.com/vzR28XC.png" alt="Imagem do Mawé" width="250px" height="250px">
                    </div>
                    <div>
                        <img src="https://i.imgur.com/rPHTpct.png" alt="Imagem do Eco-merce" width="250px" height="250px">
                    </div>
        </div>
    </div>

    <div class="footer-copyright text-center">
        <span class="text-black"> © 2021 Copyright: VemdaTerra </span>
    </div>
</footer>
          <!--   <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-black fw-bold">Siga-nos nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://pt-br.facebook.com/" target="_blank" class="iconFacebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank" class="iconInsta">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/" target="_blank" class="iconLinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center">
        <span class="text-black"> © 2021 Copyright: Vem da Terra </span>
    </div>
</footer> -->