<!--Formulário-->
<div class="col-md-12  img">
    
<br>
<br>

    <h2 class="text-center fw-bold fs-30"> Entre em contato conosco! </h2>
    <br>
    <div class="container col-md-3">
        <form >
                <label for="inputEmail4 my-2">Nome:</label>
                <input type="text" class="form-control">
                <br>
                <label for="inputEmail4 ">Email:</label>
                <input type="email" class="form-control" id="inputEmail4">
                <div class="form-floating mt-5">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Assunto</label>
                  </div>

                <div class=" d-flex justify-content-center my-3">
                    <button type="reset" class="btn btn-outline-danger me-3" >Cancelar</button>
                    <button type="reset" class="btn btn-outline-success" >Enviar</button>
                </div>
            </form>
            <br>
        
    </div>
</div>


    