<!--Formulário-->
<br>
<h2 class="text-center"> Entre em contato com a gente! </h2>

<div class="container mb-50 col-md-4">
    <div>
        <form>
            <label for="inputEmail4">Nome</label>
            <input type="text" class="form-control">
            <br>
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
            <br>
            <label for="assunto">Assunto:</label>
            <textarea name="assunto" id="assunto" cols="58" rows="5"></textarea>
            <button type="submit" class="btn btn-dark">Enviar</button>
        </form>
        <br>
    </div>
</div>