<div class="row mt-5 d-flex justify-content-center justify-content-around">
    <div class="card col-md-2 mt-3 mb-4 lg-4 ">
        <img class="img-produto" src="../../assets/img/th6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
      <div class="card col-md-2 mt-3 mb-4 lg-4">
        <img src="../../assets/img/th6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
      <div class="card  col-md-2 mt-3 mb-4 lg-4">
        <img src="../../assets/img/th6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
      <div class="card  col-md-2 mt-3 mb-4 lg-4">
        <img src="../../assets/img/th6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card  col-md-2 mt-3 mb-4 lg-4">
        <img src="../../assets/img/th6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card col-md-2 mt-3 mb-4 lg-4">
        <img src="../../assets/img/th6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
      <div class="card col-md-2 mt-3 mb-4 lg-4">
        <img src="../../assets/img/th6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
      <div class="card  col-md-2 mt-3 mb-4 lg-4">
        <img src="../../assets/img/th6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
      <div class="card  col-md-2 mt-3 mb-4 lg-4">
        <img src="../../assets/img/th6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card  col-md-2 mt-3 mb-4 lg-4">
        <img src="../../assets/img/th6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

</div>